/* Reset & Fullscreen defaults */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #root {
  height: 100vh; /* vh 단위 사용 */
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바 생성 방지 */
}
